{% extends 'base.html' %}
{% load static %} 
{% load i18n %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.accent.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/categories_multislider.css' %}" />
{% endblock css %}

{% block meta %}
<!-- page specific meta info -->
{% endblock meta %}

{% block content %}

<div class="container-fluid  py-5">
    <div class="row">

        <div class="offset-1 col-10">
            {% if topic_categories %}
            {% include 'topic/snippets/categories_view.html' with categories=topic_categories %}
            {% endif %}
        </div>

        
        {% if displaying_filtered_posts and topic_posts %}
                        
        <div class="offset-1 col-10 col-lg-7 my-2">
            <div class="card shadow">
                <div class="card-body px-3 py-3">
                <h6 class="lightFont mdText colorBlack">
                    
                {% if filtered_by_author %}
                    {% trans 'Displaying' %}
                    {% trans 'posts by' %} 
                    <span class="colorAccent mx-2">
                        {{topic_posts.0.author.display_name }}
                    </span> 

                {% elif filtered_by_category %} 

                    {% trans 'Displaying' %}
                    {% trans 'posts under' %} 
                    <span class="colorAccent mx-2">
                    {{ topic_posts.0.get_category_display }}
                    </span> 
                    {% trans 'category' %}

                {% elif filtered_by_tags %}
                    {% trans 'Displaying' %}
                    {% trans 'posts tagged' %} 
                    <span class="colorAccent mx-2">
                        {{ filtered_by_tags }}
                    </span> 
                {% endif %}
                </h6>
            </div>
            </div>
        </div>

        {% endif %}


        <div class="offset-1 col-10 col-lg-7">
            
            {% if topic_posts %}

            {% include 'topic/topic_feed.html' with posts=topic_posts %}

            {% include 'website/snippets/pagination.html' with posts=topic_posts post_type=post_type %}
                
            {% else %}
            
            {% include 'topic/empty_results.html' with query=query %}

            {% endif %}
        </div>
        <div class="offset-1 col-10 offset-lg-0 col-lg-3">
            {% include 'topic/popular_posts.html' with posts=popular_topics %}
            {% include 'topic/most_viewed_posts.html' with posts=most_viewed_topics %}
        </div>
    </div>

</div>





<!-- page content -->
{% endblock content %}



{% block js %}
<!-- page specific javascript-->
<script src="{% static 'scripts/owl.carousel.min.js' %}"></script>
<script src="{% static 'scripts/categories_multislider.js' %}"></script>
<script src="{% static 'scripts/make_tags_clickable.js' %}"></script>
{% endblock js %}