{% extends 'base.html' %} 
{% block meta %}
<title>{{ post.title }}</title>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 offset-lg-1 col-lg-10">
            <div class="card shadow">
                <div class="card-body px-3 py-3">
                    <h5 class="py-0 headingFont colorBlack text-left">
                        {{ post.title }}
                    </h5>
                    
                    {% if post.featured_image %}
                    <div class="my-3 text-center">
                        <!-- featured image -->
                            <img class="img-fluid" src="{{ post.featured_image.url }}">
                    </div>
                    {% endif %}
                        
                    
                    <p class="bodyFont colorBlack maintainNewLines py-0">
                        {{ post.body|safe }}
                    </p>

                    <div>
                        {% include 'website/snippets/carousel.html' with post=post idCounter=1%}
                    </div>

                    <div>
                        Posted by
                        <span class="lightFont lightText">
                            {% if is_my_post %}
                            me
                            {% else %}
                            {{ post.author.display_name }}
                            {% endif %}
                        </span>
                        <span class="pl-4 lightFont lightText colorDarkGrey">
                            {{ post.date_updated }}
                        </span>
                    </div>

                    <div class="my-3">
                        {% if is_my_post %}
                        <a {% if post_type == 'topic' %} href="{% url 'topic:edit_topic' slug=post.slug %}" {% endif %}
                            class="unstyled-link-colorDarkGrey accentOnHover headingFont mr-4">
                            {% include 'website/icons/edit.html' %} Edit
                        </a>

                        <a {% if post_type == 'topic' %}
                            href="{% url 'topic:delete_topic' slug=post.slug redirect_to='topic:my_topics' %}" {% endif %}
                            class="unstyled-link-colorDarkGrey errorsOnHover headingFont mr-4">
                            {% include 'website/icons/delete.html' %} Delete
                        </a>
                        {% endif %}
                        
                        <!--IF USER IS LOGGED IN -->
                        {% if request.user.is_authenticated %}
                        
                         <!--IF POST IS TOPIC -->
                        {% if post_type == 'topic' %}
                        <!-- LIKE BUTTPN -->
                                <a href="{% url 'like_post' slug=post.slug post_type=post_type %}" 
                                
                                {% if user_likes_post %}
                                class="mr-4 unstyled-link-colorAccent darkGreyOnHover headingFont"
                                {% else %}
                                class="mr-4 unstyled-link-colorDarkGrey accentOnHover headingFont"
                                {% endif %}
                                >
                                    {% include 'website/icons/thumbs_up.html' %}
                                    Like
                                </a>
                        <!-- DISLIKE BUTTON -->
                                <a href="{% url 'dislike_post' slug=post.slug post_type=post_type %}" 
                                {% if user_dislikes_post %}
                                class="mr-4 unstyled-link-colorAccent darkGreyOnHover headingFont"
                                {% else %}
                                class="mr-4 unstyled-link-colorDarkGrey accentOnHover headingFont"
                                {% endif %}
                                >
                                    {% include 'website/icons/thumbs_down.html' %}
                                    Dislike
                                </a>

                                <div class="clearfix w-100 my-3">
                                    {% include 'comments/post_topic_comment.html' with topic=post %}
                                </div>

                        {% endif %}
                        <!--END IF POST IS TOPIC -->
                        
                        <!--END IF USER IS LOGGED IN -->
                        {% else %}
                        <!-- USER IS NOT LOGGED IN -->
                        <a class="btn btnOutlineAccent headingFont w-100" href="{% url 'login' %}">Login to comment on this thread</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if topic_comments %}
    
{% endif %}
    {% include 'website/app_pages/comments/topic_comments.html' with posts=topic_comments %}
{% endblock content %}

{% block js %}
<!-- page specific javascript-->     
{% endblock js %}