{% extends 'base.html' %}

{% block content %}

<div class="lgSpace"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="card">
          <div class="card-body">
		<h6 class="colorBrownish headingFont">Your password has been Updated.<br/> Go back to 
		<a class="colorAccent bodyFont" href="{% url 'profile' %}">my profile</a>
    </h6>
    </div>
    </div>
	</div>
	<div class="col">
    </div>
</div>
</div>

{% endblock %}