{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<div class="lgSpace"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
		<div class="card">
			<div class="card-body">
		<p class="bodyFont">
		    {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly" %}.
		  </p>
		  <p class="bodyFont">
		    {% trans "If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your" %} <span class="colorBrownish">{% trans "spam folder" %}</span>.
		  </p>
		  <p><a class="bodyFont colorAccent" href="{% url 'home' %}">{% trans "Return to home page" %}</a></p>
	</div>
	</div>
    </div>
	<div class="col">
	</div>
  </div>
</div>
{% endblock %}