{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container py-5">
    <div class="row">
        <div class="d-none d-lg-block col-lg-6"></div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
            <!-- Login Form -->
            <h4 class="headingFont colorAccent">
                {% trans "Login" %}
            </h4>

            <!--NON FIELD ERRORS IF ANY-->
            {% if login_form.non_field_errors %}
            <div>
                <small class="colorErrors bodyFont">{{ login_form.non_field_errors }} </small>

            </div>
            {% endif %}


            <!--START FORM -->

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user_email" class="bodyFont">{% trans "Email address" %}</label>
                    <input type="email" name="email" class="form-control bodyFont" id="user_email" value=" 
                    {% if login_form.email.value %}
                    {{ login_form.email.value }}
                    {% endif %}
                       ">
                    <p class="formErrors colorErrors bodyFont">{{ login_form.email.errors }} </ul>
                </div>
                <div class="form-group">
                    <label for="user_password" class="bodyFont">{% trans "Password" %}</label>
                    <input type="password" name="password" class="form-control bodyFont" id="user_password">
                    <p class="formErrors colorErrors bodyFont">{{ login_form.password.errors }} </ul>
                </div>
                <button type="submit" class="btn btnOutlineAccent bodyFont"> {% trans "Login" %}</button>
            </form>

            <div class="bodyFont">
                <span class="smSpace"></span>
                {% trans "New here?" %}
                <a class="bodyFont" href="{% url 'register' %}">{% trans "Sign Up" %}</a>

                <span class="smSpaceVertical"></span>
                <a class="colorErrors bodyFont" href="{% url 'password_reset' %}">{% trans "Forgot your password?!" %}</a>
            </div>

            <!-- Login Form #End -->
            <div class="lgSpace"></div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}