{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container py-5">
    <div class="row">
        <div class="d-none d-md-block col-md-3"></div>
    
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="headingFont colorErrors text-center">
                        {% trans "You must Login to view this page" %}
                    </h6>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}