{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load i18n %}
<div class="container py-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% include 'account/dashboard.html' %}
            {% include 'achievements/achievements.html' %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
            <!-- profile Form -->
            <div class="clearfix w-100">
            <h4 class="headingFont colorAccent float-left">
                {{ profile_form.initial.display_name }}
            </h4>
            {% include 'achievements/profile_badges.html' %}
            </div>


            <p class="bodyFont">
                {% if success_message %}
                <span class="colorAccent">{{ success_message }} </span>
                {% endif %}
            </p>
            <!--NON FIELD ERRORS IF ANY-->
            {% if profile_form.non_field_errors %}
            <div>
                <small class="colorErrors bodyFont">{{ profile_form.non_field_errors }} </small>

            </div>
            {% endif %}


            <!--START FORM -->

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <img class="rounded" 
                    {% if profile_form.initial.profile_picture %}
                    src="{{ profile_form.initial.profile_picture.url }}" 
                    {% else %}
                    src="{% static 'images/default_profile_avatar.png' %}"
                    {% endif %}
                    height="64px">
                </div>
                <div class="form-group">
                    <label for="profile_picture" class="bodyFont">{% trans "Profile Photo" %}</label>
                    <input type="file" name="profile_picture" id="id_profile_picture" accept="image/*" >
                    <small class="colorErrors bodyFont"> {{ profile_form.profile_picture.errors }}
                    </small>
                </div>

                <div class="form-group d-none">
                    <label for="user_name" class="bodyFont">{% trans "Your Name" %}</label>
                    <input type="text" name="display_name" class="form-control bodyFont" id="user_name"
                        value="{{ profile_form.initial.display_name}}" disabled>
                    <small class="colorErrors bodyFont"> {{ profile_form.display_name.errors }}
                    </small>
                </div>

                <div class="form-group d-none">
                    <label for="user_name" class="bodyFont">{% trans "Your Username" %}</label>
                    <input type="text" name="username" class="form-control bodyFont" id="user_name"
                        value="{{ profile_form.initial.username}}" disabled>
                    <small class="colorErrors bodyFont"> {{ profile_form.username.errors }}
                    </small>
                </div>

                <div class="form-group d-none">
                    <label for="user_email" class="bodyFont">{% trans "Email address" %}</label>
                    <input type="email" name="email" class="form-control bodyFont" id="user_email"
                        value="{{ profile_form.initial.email}}" disabled>
                    <small class="colorErrors bodyFont"> {{ profile_form.email.errors }} </small>
                </div>
                <button type="submit" class="btn btnOutlineAccent bodyFont">{% trans "Update Profile Photo" %}</button>
            </form>

            <!-- end form-->

            <!-- password reset-->
            <div>
                <div class="smSpace"></div>
                <!--TODO replace {% url 'password_change' %} with main site url-->
                <a class="d-none btn btnOutlineErrors bodyFont" href="#">{% trans "Change Password" %}</a>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}