{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container py-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
            <!-- Registration Form -->
            <h4 class="headingFont colorAccent">
                {% trans "Register" %}
            </h4>
           
            <!--NON FIELD ERRORS IF ANY-->
            {% if registration_form.non_field_errors %}
            <div>
                <small class="colorErrors bodyFont">{{ registration_form.non_field_errors }} </small>

            </div>
            {% endif %}


            <!--START FORM -->

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="bodyFont">{% trans "Username" %}</label>
                    <input type="text" name="username" class="form-control bodyFont" id="id_username"
                    placeholder="{% trans "A unique nickname e.g. john_doe12" %}"
                    {% if  registration_form.username.value %}
                    value="{{ registration_form.username.value }}"
                    {% endif %}
                    required>
                    <small class="colorErrors bodyFont"> {{ registration_form.username.errors }} </small>
                </div>

                <div class="form-group">
                    <label for="display_name" class="bodyFont">{% trans "Full name" %}</label>
                    <input type="text" name="display_name" class="form-control bodyFont" id="id_display_name"
                    placeholder="{% trans "First & last name" %}"
                    {% if  registration_form.display_name.value %}
                    value="{{ registration_form.display_name.value }}"
                    {% endif %}
                    required>
                    <small class="colorErrors bodyFont"> {{ registration_form.display_name.errors }} </small>
                </div>

                <div class="form-group">
                    <label for="user_email" class="bodyFont">{% trans "Email address" %}</label>
                    <input type="email" name="email" class="form-control bodyFont" id="user_email"
                    {% if registration_form.email.value  %}
                    value="{{ registration_form.email.value }}"
                    {% endif %}
                    required>
                        <small class="colorErrors bodyFont"> {{ registration_form.email.errors }} </small>
                </div>
                <div class="form-group">
                    <label for="user_password" class="bodyFont">{% trans "Password" %}</label>
                    <input type="password" name="password1" class="form-control bodyFont" id="user_password"
                        aria-describedby="passwordHelp" required>
                    <small id="password1Help" class="form-text text-muted">{% trans "At least 8 characters" %}</small>
                    <small class="colorErrors bodyFont"> {{ registration_form.password1.errors }} </small>
                </div>

                <div class="form-group">
                    <label for="user_password2" class="bodyFont">{% trans "Confirm Password" %}</label>
                    <input type="password" name="password2" class="form-control bodyFont" id="user_password2"
                        aria-describedby="password2Help" placeholder="re-type your password" required>
                    <small id="password2Help" class="form-text text-muted">{% trans "Re Enter the password" %}</small>
                    <small class="colorErrors bodyFont"> {{ registration_form.password2.errors }} </small>
                </div>
                <button type="submit" class="btn btnOutlineAccent bodyFont">{% trans "Register" %}</button>
            </form>

            <div class="bodyFont">
                <span class="smSpace"></span>
                {% trans "Have an account?" %}
                <a class="bodyFont" href="{% url 'login' %}">{% trans "Log In" %}</a>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}