{% load i18n %}
<div class="card px-0 my-4">
    <div class="px-2 pt-3 pb-0">
      <h6 class="headingFont">
        <span class="colorAccent mr-1">
            {% include 'website/icons/views.html' %}
        </span>   
        <span class="colorBlack">
          {% trans "Most Viewed Discussions" %}
        </span>
    </h6>
    </div>
    <div class="card-body px-0 py-0">
    <ul class="list-group list-group-flush">
        
        {% for post in posts  %}
        
        
          
        <a href="{% url 'post_details' post_type='topic' slug=post.slug %}" class="list-group-item list-group-item-action headingFont colorBlack">
          {% if post.featured_image %}
          <img src="{{ post.featured_image.url }}" class="mr-3" style="width: 32px; border-radius: 4px;"/>
          {% endif %}
        {{ post.title|title }} </a>
        {% endfor %}
          
        
      
    </ul>
    </div>
  </div>