{% load i18n %}
<div class="card px-0 my-4">
    <div class="px-2 pt-3 pb-0">
      <h6 class="headingFont">
        <span class="colorAccent mr-1">
            {% include 'website/icons/graph.html' %}
        </span>   
        <span class="colorBlack">
        {% trans "Forum Stats" %}
        </span>
    </h6>
    </div>
    <div class="card-body px-0 py-0">
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action headingFont colorBlack">
            
            {% if total_users > 1 %}
                {{ total_users }}  {% trans 'Members' %} 
            {% elif total_users == 1 %}
                {{ total_users }}  {% trans 'Member' %} 
            {% endif %}
                
               
        </li>
        <li class="list-group-item list-group-item-action headingFont colorBlack">
            
            {% if total_topics > 1 %}
                {{ total_topics }}  {% trans 'Topics' %}
            {% elif total_topics == 1 %}
                {{ total_topics }}  {% trans 'Topic' %}
            {% endif %}
                    
        </li>
        <li class="list-group-item list-group-item-action headingFont colorBlack">
            
            {% if total_comments > 1  %}
                {{ total_comments }}  {% trans 'Comments' %} 
            {% elif total_comments == 1 %}
                {{ total_comments }}  {% trans 'Comment' %} 
            {% endif %}
                   
        </li>
    </ul>
    </div>
  </div>