{% load i18n %}
<div class="form-group my-3">
    <label for="id_category" class="headingFont colorBlack mb-2">{% trans "What category does this fall under?" %}</label>
    <select id="id_category" class="form-control bodyFont colorBlack" name="category" required>
    
 
      {% if category_display %}
      <option class="headingFont colorBlack" value = "{{ category }}" selected>{{ category_display }} </option>
      
        
      {% elif post %}
      <option class="headingFont colorBlack" value = "{{ post.category }}" selected>{{ post.get_category_display }} </option>
   
      {% else %}
      <option class="headingFont colorBlack" value = "O" selected>{% trans "Choose..." %}</option>
      {% endif %}
          
       
      <option class="headingFont colorBlack" value  ="CA">{% trans "Car Accessories" %}</option>
      <option class="headingFont colorBlack" value  = "CP">{% trans "Car Performance Parts" %}</option>
      <option class="headingFont colorBlack" value  = "CC">{% trans "Continental Cars" %}</option>
      <option class="headingFont colorBlack" value  = "CEI">{% trans "Cosmetic Enhancement Items" %}</option>
      <option class="headingFont colorBlack" value  = "GCD">{% trans "General Car Discussion" %}</option>
      <option class="headingFont colorBlack" value  = "ICE">{% trans "In Car Entertainment" %}</option>
      <option class="headingFont colorBlack" value  = "JC">{% trans "Japanese Cars" %}</option>
      <option class="headingFont colorBlack" value  = "MR">{% trans "Maintenance & Repairs" %}</option>
      <option class="headingFont colorBlack" value  = "TR">{% trans "Tyres & Rims" %}</option>
      <option class="headingFont colorBlack" value = "O">{% trans "Not Car Related" %}</option>
    </select>
  </div>