.main {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  min-height: 50px;
}

a:visited{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

a:active{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.input:focus {
  box-shadow: none !important;
}


.lgSpace {
  display: inline-block;
  width: 100%;
  height: 50px;
}

.smSpace {
  display: inline-block;
  width: 100%;
  height: 12px;
}

.tinySpace {
  display: inline-block;
  width: 100%;
  height: 8px;
}

.img-thumbnail {
  height: 200px !important;
}

.smSpaceHorizontal {
  display: inline-block;
  width: 12px;
}

.paddedSmLR {
  padding-left: 16px;
  padding-right: 16px;
}

.paddedSmL{
  padding-left: 16px;
}

.paddedSmR{
  padding-right: 16px;
}

.paddedSmTB {
  padding-top: 16px;
  padding-bottom: 16px;
}

.paddedSm {
  padding: 16px;
}

@media (max-width: 767.98px) {
  .smSpaceHorizontal {
    display: block;
    height: 12px;
  }
  .w80Sm {
    width: 80% !important;
  }
  .my2Sm{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}



.width100 {
  width: 100% !important;
}

.width80 {
  width: 80% !important;
}


/* maintain-new-lines */
.maintainNewLines {
  white-space: pre-line;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline-color: #0079d3;
  box-shadow: none;
  color:  #0079d3;
}

.borderLess {
  border: none;
}

.borderLess:hover,
.borderLess:focus,
.borderLess:active {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}


.tinyBorderBottomGray{
    border-bottom: 1px solid #cccccc;
}

.blockElements{
  width: 100%;
  display: block;
}

.inlineBlocks{
  display: inline-block;
}

.black-overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  /*background-color: rgba(40,167,69, 0.2); this is accent color not black*/
  background-color: rgba(0,0,0, 0.2);
}

.borderLessThumbnail{
  border: none;
  background: transparent;
}

.blackHr{
  border-top: 2px solid #000000;
}

.blackHrThin{
  border-top: 1px solid #000000;

}

.blackHrThinW100{
  width: 100px;
  border-top: 1px solid #000000;
}



.roundedTop{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.numberedListGroup{
  list-style: decimal inside;
}

.numberedListGroupItem {
  display: list-item;
}

.achievements_icons{
  width: 24px;
  height: auto;
}