.lgSubTitle{
    font-size : 36px;
}

.mdText{
  font-size: 14px;
}

.lightText{
    font-size: 12px;
    font-weight: lighter;
}

.imgWrapperH155{
    object-fit: contain;
    width: 100% !important;
    height : 155px ; 
  }
  
  .imgWrapperH360{
    object-fit: contain;
    width: 100% !important;
    height : 360px ; 
  }
  
  .imgWrapperH300{
    object-fit: contain;
    width: 100% !important;
    height : 300px ; 
  }
  
  .imgWrapperH170{
    object-fit: contain;
    height : 170px ; 
  }
  
  .imgWrapperH80{
    object-fit: contain;
    width: 100% !important;
    height : 80px ; 
  
  }