{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% for item in comments %}
{% if not item.comment.is_removed %}
{% if not is_children %}
<div class="colorWhiteBg my-4 p-3">

{% endif %}
<div>
    <a name="c{{ item.comment.id }}" class="colorBlack headingFont colorOceanBlueOnHover "></a>

    
    {% if is_children %}
        <hr>
    {% endif %}
        
    <div 
     
     {% if is_children %}
         class="ms-4 px-2"
     {% endif %}
         
    >
        <div class="headingFont colorBlack clearfix">
            <span class="float-start">
                <!-- commentor's image -->
                    {% if item.comment.user.profile_picture %}
                    <img alt="" src="{{ item.comment.user.profile_picture.url }}" class="rounded-circle z-depth-2 shadow" width="48">
                    {% else %}
                    <span style="font-size:48px;">
                        {% include 'svg_icons/person_avatar.html' %}
                    </span> 
                    {% endif %}
                
            </span>

            <div class="float-start ms-3 mt-3">
                <!-- commentor's name -->
                {% if item.comment.user %}
                {% trans 'Comment by' %} {{ item.comment.user.display_name }}
                {% endif %}    
            </div>

            <div class="float-end mt-3">
                <!-- can delete -->
                {% if perms.comments.can_moderate %}
                <a class="me-3 headingFont colorErrors colorOceanBlueOnHover"
                    href="{% url 'comments-delete' item.comment.pk %}">
                    {% include 'svg_icons/delete.html' %}
                    {% trans "delete" %}
                </a>
                {% endif %}
            </div>

        </div> <!--end of |  owner and editing -->
        
        <p class="bodyFont colorBlack maintainNewLines">
            {{ item.comment.comment|safe }}
        </p>
        <p>
            {% if allow_feedback and request.user.is_authenticated %}
                {% include "django_comments_xtd/user_feedback.html" with item=item %}
            {% endif %}
        </p>
    </div>

    {% if not is_children %}
    </div>
    {% endif %}

    {% if not item.comment.is_removed and item.children %}
      {% render_xtdcomment_tree with comments=item.children is_children='true' %}
    {% endif %}

    {% if not is_children %}
    <div class="clearfix">
        <a class="float-end colorDeepBlue colorOceanBlueOnHover headingFont" 
        href="{{ item.comment.get_reply_url }}">
            {% trans "Comment on this thread" %}
          </a>
    </div>
    {% endif %}
</div>
{% endif %} <!--skip deleted comments-->
{% endfor %}