{% extends 'base_no_secondary_header.html' %}
{% load static %}
{% load i18n %}
{% load comments_xtd %}
{% block title %} 
<link rel="stylesheet" href="{% static 'styles/bootstrap-tagsinput.css' %}">
<title>Asia Car Network |  {% trans "Reply to comment" %}</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="row no-gutters colorDarkGreyBg">
        <div class="offset-1 col-10 offset-lg-2 col-lg-8">
            <div class="m-3 p-3 colorWhiteBg">

                <div class="bodyFont title colorBlack mb-4 clearfix">
                   
                       <h6>
                        {% trans "Reply to comment" %}
                       </h6>

                       <p class="colorDarkGrey bodyFont subTitle">
                            {{ comment.comment }} 
                       </p>
                       
                       {% include "comments/topic/form.html" %}
                </div>
               
   
            </div>
        </div>
    </div>
</div>

{% endblock %}
