{% load static %}
{% load i18n %}
<div class="clearfix bodyText my-2">
       <!-- like comment -->
       <a 
       href="{% url 'comments-xtd-like' item.comment.pk %}"
   
   {% if item.likedit %}
   class="float-start me-3 colorDeepBlue colorOceanBlueOnHover headingFont" 
   {% else %}
   class="float-start me-3 colorBlack  colorOceanBlueOnHover headingFont" 
   {% endif %}
   >
   
   {% include 'svg_icons/thumbs_up.html' %}
   
   {% if  item.likedit_users  %}
       <!-- total likes -->
       {{ item.likedit_users|length }}
   {% endif %}
   
   {% trans "Like" %}
   
   </a>

   
    <!-- dislike comment -->
    <a 
        href="{% url 'comments-xtd-dislike' item.comment.pk %}"

    {% if item.dislikedit %}
    class="float-start me-3 colorDeepBlue colorOceanBlueOnHover headingFont" 
    {% else %}
    class="float-start me-3 colorBlack  colorOceanBlueOnHover headingFont" 
    {% endif %}
    >
    
    

    
    {% if  item.dislikedit_users  %}
        <!-- total likes -->
        {{ item.dislikedit_users|length }}
    {% endif %}

    {% include 'svg_icons/thumbs_down.html' %}
    {% trans "DisLike" %}
    
    </a>



</div>