<div class="form-group my-3">
    <label for="id_category" class="headingFont colorBlack">What category does this fall under?</label>
    <select id="id_category" class="form-control bodyFont colorBlack" name="category" required>
      
      {% if post %}
      <option class="headingFont colorBlack" value = "{{ post.category }}" selected>{{ post.category_display }} </option>
      {% else %}
      <option class="headingFont colorBlack" value = "O" selected>Choose...</option>
      {% endif %}
          
       
      <option class="headingFont colorBlack" value  ="CA">Car Accessories</option>
      <option class="headingFont colorBlack" value  = "CP">Car Performance Parts</option>
      <option class="headingFont colorBlack" value  = "CC">Continental Cars</option>
      <option class="headingFont colorBlack" value  = "CEI">Cosmetic Enhancement Items</option>
      <option class="headingFont colorBlack" value  = "GCD">General Car Discussion</option>
      <option class="headingFont colorBlack" value  = "ICE">In Car Entertainment</option>
      <option class="headingFont colorBlack" value  = "JC">Japanese Cars</option>
      <option class="headingFont colorBlack" value  = "MR">Maintenance & Repairs</option>
      <option class="headingFont colorBlack" value  = "TR">Tyres & Rims</option>
      <option class="headingFont colorBlack" value = "O">Not Car Related</option>
    </select>
  </div>