{% load static %}
{% load i18n %}

{% if new_achievements_count %}
<div class="card my-5 shadow">
  <div class="card-body py-3">
    <h6 class="headingFont colorAccent mb-3">{% trans "You have unlocked" %} 
      {{ new_achievements_count }}
      {% if new_achievements_count == 1 %}
      {% trans "new achievement" %}
      {% else %}
      {% trans "new achievements" %}
      {% endif %}
       </h6>
       {% for new_achievement in new_achievements  %}
         <h6 class="mb-3">
          {% with 'achievements/images/achieved/'|add:new_achievement.achievement|add:'.png' as image_static %}
          <img src="{% static image_static %}"  class="achievements_icons mr-3" />
          {% endwith %}
           <span class="headingFont colorAccent">{% trans "Level" %} {{ new_achievement.level }}</span>
         </h6>
       {% endfor %}
  </div> 
</div>
{% endif %}

<div class="card my-5 shadow">
  <div class="card-body py-3">
    <h6 class="colorBlack headingFont">
      <img
        src="{% static 'achievements/images/achieved/NM.png' %}"
        class="achievements_icons mr-3"
      />
      {% trans "Join the community" %}
    </h6>

    <h6 class="mt-4 colorBlack headingFont">
      {% if avid_reader > 0 %}
      <img
        src="{% static 'achievements/images/achieved/RE.png' %}"
        class="achievements_icons mr-3"
      /> <span class="colorBlack">
        {% trans "Avid Reader" %}</span>

      {% else %}
      <img
        src="{% static 'achievements/images/unachieved/RE.png' %}"
        class="achievements_icons mr-3"
      />
      <span class="colorDarkGrey">
        {% trans "Become an avid reader" %}</span>
      {% endif %}
    </h6>

    <h6 class="mt-4 colorBlack headingFont">
      {% if discussion_starter > 0 %}
      <img
        src="{% static 'achievements/images/achieved/DS.png' %}"
        class="achievements_icons mr-3"
      /><span class="colorBlack">
        {% trans "Discussion Starter" %}</span>
      {% else %}
      <img
        src="{% static 'achievements/images/unachieved/DS.png' %}"
        class="achievements_icons mr-3"
      />
      <span class="colorDarkGrey">
        {% trans "Start a discussion" %}</span>
      {% endif %}
    </h6>

    <h6 class="mt-4 colorBlack headingFont">
    {% if got_likes > 0 %}
    <img
      src="{% static 'achievements/images/achieved/TU.png' %}"
      class="achievements_icons mr-3"
    />
    <span class="colorBlack">
      {% trans "You have a way with words!" %}</span>
    {% else %}
    <img
      src="{% static 'achievements/images/unachieved/TU.png' %}"
      class="achievements_icons mr-3"
    />
    <span class="colorDarkGrey">
      {% trans "Get likes on a discussion you started" %}</span>
    {% endif %}
    </h6>
 
    <h6 class="mt-4 colorBlack headingFont">
    {% if celebrity > 0 %}
    <img
      src="{% static 'achievements/images/achieved/CEL.png' %}"
      class="achievements_icons mr-3"
    />
    <span class="colorBlack">
      {% trans "Celebrity" %}.</span>
    {% else %}
    <img
      src="{% static 'achievements/images/unachieved/CEL.png' %}"
      class="achievements_icons mr-3"
    />
    <span class="colorDarkGrey">
      {% trans "Excel as a reader & a writer to achieve Celebrity status" %}.</span>
    {% endif %}
    </h6>
  </div>
</div>
