{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fav ico-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon_io/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />

    <!-- Bootstrap CSS -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Site css-->
    <link href="{% static 'styles/base.css' %}" rel="stylesheet">
    <link href="{% static 'styles/dimens.css' %}" rel="stylesheet">
    <link href="{% static 'styles/colors.css' %}" rel="stylesheet">
    <link href="{% static 'styles/fonts.css' %}" rel="stylesheet">

    {% block title %} {% endblock title %}
    {% block css %} {% endblock css %}

    <title>Asia Car Network | {% trans 'Forum' %}</title>
  </head>
  <body  class="colorDarkGreyBg">
    {% include 'header.html' %}
    {% include 'secondary_header.html' %}
    <main>
      {% block content %} {% endblock content %}
    </main>
 

    </body>
    {%include 'footer.html' %}
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-3.5.1.min.js' %}"></script>
    {% block js %} {% endblock js %}
</html>
