{% load static %}
{% load i18n %}
<div id="headerImgContainer">
    <img src="{% static 'images/navbar_car.png' %}" id="headerImg">
    <div id="headerImgTxt">
        <div class="clearfix w-100" >
            <a  class="float-start inlineBlocks m-0  py-0 px-5 headingFont lgTitle colorGreenBluish whiteOnHover" href="{% url 'home' %}">
                <i>{% trans "ASIA CAR NETWORK FORUM" %}</i>
            </a>
            <div  class="float-end inlineBlocks px-5 py-0" >
                <div class="input-group">
                <button id="languageBtn" type="button" class="btn no-border dropdown-toggle headingFont subTitle colorWhite whiteBgOnHover colorOceanBlueOnHover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% include 'svg_icons/globe.html' %}
                    Language
                </button>
                <ul class="dropdown-menu dropdown-menu-end" id="language-list" >
                    <li><a class="dropdown-item colorBlack headingFont" href='{% url "set_language" %}' data-lang="en-us">English</a></li>
                    <li><a class="dropdown-item colorBlack headingFont" href='{% url "set_language" %}' data-lang="th">ภาษาไทย</a></li>
                </ul>
            </div>
            </div>
        </div>
          
        </div>

</div>