<!-- extra images -->
<div id="extraImagesCarousel{{idCounter}}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
  <div class="carousel-inner">
    {% if post.extra_image_one %}
    <div class="carousel-item active" >
        <img src="{{ post.extra_image_one.url }}" class="d-block w-100">
    </div>
    {% endif %} 

    {% if post.extra_image_two %}
    <div class="carousel-item active" >
        <img src="{{ post.extra_image_two.url }}" class="d-block w-100">
    </div>
    {% endif %} 

        {% if post.extra_image_three %}
    <div class="carousel-item active" >
        <img src="{{ post.extra_image_three.url }}" class="d-block w-100">
    </div>
    {% endif %} 
   
  </div>
</div>