{% if success %}
<div class="d-block my-0 py-0 alert alert-light alert-dismissible fade show" role="alert">
<h6 class="mb-3">
    <small class="colorAccent headingFont"> 
        Successful!
    </small>
</h6>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if fail %}
<div class="d-block my-0 py-0 alert alert-light alert-dismissible fade show" role="alert">
<h6 class="mb-3">
    <small class="colorAccent headingFont"> 
        An error occurred!
    </small>
</h6>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if form.non_field_errors %}
<div class="d-block my-0 py-0 alert alert-light alert-dismissible fade show" role="alert">
<h6 class="mb-3">
    <small class="colorErrors headingFont"> {{ form.non_field_errors }} </small>
</h6>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<!-- field errors errors -->

{% if field.errors %}
<div class="d-block my-3 py-0 alert alert-light alert-dismissible fade show" role="alert">
{% for field in form  %}
{% for error in field.errors  %}
<h6 class="colorErrors headingFont">
    Error | {{ field.name }} , {{ error }}
</h6>
{% endfor %}
{% endfor %}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
