<!-- FILTERED Pagination -->
{% load i18n %}
<div class="d-flex flex-column m-auto pagination mt-5">
    <nav aria-label="Page navigation">
    <ul class="pagination pg-grey justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item">
              <a class="page-link headingFont colorAccent" href="?{% if query %}query={{query}}&{% endif %}page={{ posts.previous_page_number }}{% if post_type %}&post_type={{post_type}}{% endif %}">&laquo;  {% trans "Previous" %}</a>
            </li>
        {% endif %}
    
        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                <li class="page-item active colorAccentBg"><a class="page-link headingFont colorWhite">{{ i }}</a></li>
            {% else %}
                <li class="page-item" ><a class="page-link headingFont colorAccent" href="?{% if query %}query={{query}}&{% endif %}page={{ i }}{% if post_type %}&post_type={{post_type}}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link headingFont colorAccent" href="?{% if query %}query={{query}}&{% endif %}page={{ posts.next_page_number }}{% if post_type %}&post_type={{post_type}}{% endif %}">{% trans "Next" %}</a>
            </li>
            <li class="page-item">
              <a class="page-link headingFont colorAccent"  href="?{% if query %}query={{query}}&{% endif %}page={{ posts.paginator.num_pages }}{% if post_type %}&post_type={{post_type}}{% endif %}">{% trans "Last" %} &raquo;</a>
            </li>
        {% endif %}
    </ul>
    </nav>
    </div>
    <!-- end pagination-->