
{% if  post.featured_image %}
<img src="{{ post.featured_image.url }}" class="img-thumbnail borderLessThumbnail">
{% endif %}

{% if post.extra_image_one %}
<img src="{{ post.extra_image_one.url }}" class="img-thumbnail borderLessThumbnail">
{% endif %}

{% if post.extra_image_two %}
<img src="{{ post.extra_image_two.url }}" class="img-thumbnail borderLessThumbnail">
{% endif %}

{% if post.extra_image_three %}
<img src="{{ post.extra_image_three.url }}" class="img-thumbnail borderLessThumbnail">
{% endif %}