{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load static %}

{% block title %}{% trans "Remove comment" %}{% endblock %}

{% block content %}
<div class="my-4">
  <h3 class="text-center headingFont colorBlack">{% trans "Remove this comment?" %}</h3>
  <hr/>
</div>
<h6 class="lead text-center bodyFont">{% trans "As a moderator you can delete comments. Deleting a comment does not remove it from the site, only prevents your website from showing the text. Click on the remove button to delete the following comment:" %}</h6>
<div class="row">
  <div class="offset-md-1 col-md-10">
    <div class="card mb-4">
      <div class="card-body">
        <div class="media">
          <div class="mr-3">
            {% if item.comment.user.profile_picture %}
            <img alt="" src="{{ item.comment.user.profile_picture.url }}" class="rounded-circle z-depth-2 shadow" width="48">
                {% else %}
                    <img alt="" src="{% static 'images/default_profile_avatar.png' %}" class="rounded-circle z-depth-2 shadow" width="48">
                {% endif %}
          </div>
          <div class="media-body">
            <h6 class="mb-1 small bodyFont colorBlack">
              {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
              {% if comment.user_url %}
              <a href="{{ comment.user_url }}" target="_new">
                {{ comment.user_name }}
              </a>
              {% else %}
              {{ comment.user_name }}
              {% endif %}
            </h6>
            <p class="colorBlack bodyFont p-2">{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-md-1 col-md-10">
    <form action="." method="post">{% csrf_token %}
      <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
        <div class="form-group">
          <div class="text-center">
            <input type="submit" name="submit" class="btn btnOutlineErrors px-5 headingFont" value='{% trans "Remove" %}'/>
            <a class="btn btnOutlineAccent px-5 headingFont" href="{{ comment.get_absolute_url }}">cancel</a>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}